@{
	ViewData["Title"] = "HomePage";
}

<div class="responsive-wrapper">
	<div class="main-header">
		<h1>Домашняя страница</h1>
		<div class="search">
			<input type="text" placeholder="Search" />
			<button type="submit">
				<i class="ph-magnifying-glass-bold"></i>
			</button>
		</div>
	</div>

	<div class="horizontal-tabs">
		<a href="#" class="active">История Релизов</a>
		<a href="#">Логи Моков</a>
	</div>
	@*Content TODO:: сгенерировать из БД или еще откуда-то*@
</div>